{% extends "base.html" %}

{% block title %}{{book_specifico.title}}-{{book_specifico.author}}{% endblock %}

{% block content %}

<div class="container py-5">
    <div class="row justify-content-center gap-3">
        <div class="col-md-5 col-lg-5 ">
            <figure class="figure m-5">
                <img src="{{ url_for('static', filename=book_specifico['cover']) }}" class="figure-img img-fluid w-90"
                    alt="{{book_specifico.title}}">
            </figure>

            {% if current_user.is_authenticated and current_user.role == 1 %}
            <div class="d-flex justify-content-center gap-3">
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#editProfileModal">
                    <i class="bi bi-pencil-square me-1"></i> Modifica dati
                </button>
                <form method="POST" action="{{ url_for('book', id=book_specifico.id) }}">
                    <input type="hidden" name="action" value="delete">
                    <button type="submit" class="btn btn-danger">Rimuovi libro</button>
                </form>
            </div>
            {% endif %}

        </div>
        <div class="col-md-5 col-lg-4 order-md-last mt-5">
            <h4 class="d-flex justify-content-between align-items-center mb-3">{{book_specifico.title}} -
                {{book_specifico.author}} ({{book_specifico.publication_year}})</h4>

            <!-- add a link to the search for the specific genre -->
            <div class="mb-3">
                <a href="{{ url_for('catalogue', genre=genere.id) }}" class="text-decoration-none">
                    <span class="badge bg-info">{{genere.name}}</span>
                </a>
            </div>

            <p>{{book_specifico.description}}</p>

            {% if current_user.is_authenticated %}
            {% if current_user.role == 0 %}
            {% if book_specifico.available_copies != 0 %}
            <button type="button" class="btn btn-success w-75" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Prenota
            </button>
            {% else %}
            <p class="text dark-text-emphasis">Al momento non ci sono copie disponibili</p>
            <button type="button" class="btn btn-success w-75" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                disabled>
                Prenota
            </button>
            {% endif %}
            {% endif %}
            {% else %}
            <a class="btn btn-outline-secondary" href="{{ url_for('login') }}">Prenota</a>
            {% endif %}
        </div>
    </div>

    <hr>

    <div class="row mt-5">
        <div class="col-md-6">
            <h5>Dettagli</h5>
            <ul class="list-unstyled">
                <li><strong>Autore:</strong> {{book_specifico.author}}</li>
                <li><strong>Anno di pubblicazione:</strong> {{book_specifico.publication_year}}</li>
                <li><strong>Genere:</strong> {{genere.name}}</li>
                <li><strong>Copie totali:</strong> {{book_specifico.total_copies}}</li>
                <li><strong>Copie disponibili:</strong> {{book_specifico.available_copies}}</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h5>Statistiche</h5>
            <ul class="list-unstyled">
                <li><strong>Numero di prestiti attivi:</strong> {{active_loan_count[0]['active_loans'] if
                    active_loan_count else 0}}</li>
                <li><strong>Numero totale di prestiti:</strong> {{loan_count_specifico[0]['loans_count'] if
                    loan_count_specifico else 0}}</li>
            </ul>
        </div>
    </div>
</div>


<!-- Modal per prenotazione -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="{{ url_for('new_loan', book_id=book_specifico.id) }}">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Inserisci due date valide</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="dataInizio" class="form-label">Data inizio prestito</label>
                        <input type="date" id="dataInizio" name="dataInizio" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="dataFine" class="form-label">Data riconsegna</label>
                        <input type="date" id="dataFine" name="dataFine" class="form-control" readonly>
                    </div>
                </div>
                <p class="text-center text-body-secondary">Puoi annullare il prestito 24 prima del suo inizio</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                    <form method="POST" action="{{ url_for('book', id=book_specifico.id) }}">
                        <input type="hidden" name="action" value="new_loan">
                        <button type="submit" class="btn btn-success">Prenota</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal per modifica dati libro -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileModalLabel">Modifica i dati del libro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('book', id = book_specifico.id) }}" method="POST"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Titolo</label>
                        <input type="text" class="form-control" id="title" name="title"
                            value="{{ book_specifico.title }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="author" class="form-label">Autore</label>
                        <input type="text" class="form-control" id="author" name="author"
                            value="{{ book_specifico.author }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="genre" class="form-label">Genere</label>
                        <select class="form-select" id="genre" name="genre" required>
                            {% for genre in all_genres %}
                            <option value="{{ genre.id }}" {% if genre.id==book_specifico.genre %}selected{% endif %}>{{
                                genre.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="publication_year" class="form-label">Anno di pubblicazione</label>
                        <input type="text" class="form-control" id="publication_year" name="publication_year"
                            value="{{ book_specifico.publication_year }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Descrizione</label>
                        <textarea class="form-control" id="description" name="description" rows="3"
                            required>{{ book_specifico.description }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="new_total" class="form-label">Copie totali</label>
                        <input type="text" class="form-control" id="new_total" name="new_total"
                            value="{{ book_specifico.total_copies }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="cover" class="form-label">Seleziona una nuova immagine</label>
                        <input class="form-control" type="file" id="cover" name="cover" accept="image/*">
                    </div>
                    <input type="hidden" name="action" value="update">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success">Salva
                            modifiche</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/book.js') }}"></script>
{% endblock %}